
    body,html {
        height: 100%;

        font-family: Arial, Helvetica, sans-serif;
    }

    }

    .container {
        width: 70%;
        background-color: whitesmoke;
        position: relative;
        top: 330px;
        left: 200px;
        font-style: normal;
        text-align: justify;

    }


    .footer {
        background-color: darkcyan;
        position: relative;
        top: 100px;

    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 10px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;

    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {

        color: white;

    }

    .fa-instagram {

        color: white;
    }
    .fa-linkedin{
        color: white;
    }


    .carousel-inner img {
        width: 100%;
        height: 100%;


    }

   li.nav-item active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5px;
       
      
    }



    p.welcome {

        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
  
    .bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("./media/pes.jpeg");
  min-height: 350px;
}

.bgimg-2 {
  background-image: url("./media/aboutus.jpg");
  min-height: 350px;
}

.bgimg-3 {
  background-image: url("./media/image.JPG");
  min-height: 350px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 8px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
    .head span.border{
        background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;

    }
    .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom a:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

